HOSTNAME="localhost"
PORT=4000

BASE_URL="http://192.168.1.105:44336" 

AUTH_URL="http://192.168.1.105:44333" 

PROJECT_SERVICE_URL="http://192.168.1.105:45185" 

APP_NAME="MVC" 

# ----- Auth.js ----- 
AUTH_TRUST_HOST=true

AUTH_SECRET="p2+qNBo5IDMIz51VlXDY3nJGXM9U+igbfLuGjfIpfvg=" 

NEXTAUTH_SECRET="p2+qNBo5IDMIz51VlXDY3nJGXM9U+igbfLuGjfIpfvg=" 

APPLICATION_NAME="iso"
PRIMARY_COLOR= "357.7deg 85.31% 51.96"
#unirefund "0 100% 43%"
#konya "49 100% 51%" "4242"
#sakarya "203.62deg 100% 36.86%" "5454"
#bursa "210.68deg 83.65% 31.18%" "1616"
#iso  "357.7deg 85.31% 51.96%" "3434"

