[submodule "packages/ayasofyazilim-ui"]
	path = packages/ayasofyazilim-ui
	url = https://github.com/ayasofyazilim-clomerce/ayasofyazilim-ui.git
[submodule "packages/utils"]
	path = packages/utils
	url = https://github.com/ayasofyazilim-clomerce/web-utils.git
